/* This is where styles are defined for your page. */
/* One style is provided as example. */

h1, h2, h3, h4, h5, h6 {
  font-family:sans-serif;
}

header.page-header {
  border-style: solid;
  border-radius: 25px;
  padding: 4rem;
  text-align: center;
  background-image: url("images/sand.jpg");
}

.page-header h1 {
  color: midnightblue;
  margin-bottom: 0;
}

.page-header p {
  margin-top: 0;
  font-weight: bold;
}

.page-header small {
  font-size: large;
}

aside.more-info {
  float: right;
  background-color: rgba(172,172,134,0.7);
  padding: 1rem 2rem 1rem 0rem; 
  border-style: solid; 
  border-radius: 0 25px 0 0;
}

aside.more-info img {
  height: 170px;
  width: auto;
}

.more-info h2 {
  margin-left: 50px;
}

.more-info p {
  margin-left: 50px;
}

section {
  background: tan;
  padding: 1rem;
  border-style: solid; 
  border-radius: 25px;
}

.more-info img {
  float: left;
  margin: 0 20px 0 0;
}

.more-info li {
  list-style-type: none;
}

body {
  font-family: serif;
  padding: 2rem; 
}

.poem {
  list-style-type: none;
  font-weight: bold; 
  line-height: 2;
  font-size: large;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section#content li::first-letter {
  font-size:150%;
  color: darkgreen;
}

.content-footer p {
  margin-left: 70px;
}

footer.page-footer {
  border-style: solid; 
  border-radius: 25px;
  padding: 2rem;
  background-image: url("images/hard-paper-texture.jpg");
}

.page-footer li {
  display: inline;
  padding:3rem;
}

.page-credits {
  padding-top:2rem;
}



